@media screen and (max-width:320px){
    body{
        background-color: rgb(56, 5, 56);
    }
    img{
        width: 305px;
        height: 100px;
    }
    button{
        width: 87px;
        margin: 5px;
    }
    .div1{
        width: 285px;
        height: 90px;
        background-color: white;
        margin: 10px;
        border-radius: 5px;
    }
    .div2{
        width: 285px;
        height: 90px;
        background-color: white;
        margin: 10px;
        border-radius: 5px;
    }
    .div3{
        width: 285px;
        height: 90px;
        background-color: white;
        margin: 10px;
        border-radius: 5px;
    }



}